*.iml
*.ipr
*.iws
*.log
*.log.*

.gradle/
.idea/
.vscode/
**/.DS_Store
**/flyway.properties

**/node_modules/
build/
out/
**/*-dev.yml
**/*-*-dev.yml
**/*-test.yml
**/*-*-test.yml
**/*-prod.yml
**/*-*-prod.yml
/gradle.properties
*.js.map
**/upload/
